BasedOnStyle: Google
IndentWidth: 2
ColumnLimit: 110
DerivePointerAlignment: false
PointerAlignment: Left
Cpp11BracedListStyle: true
IndentCaseLabels: false
AllowShortBlocksOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
SpaceAfterCStyleCast: true
AlignAfterOpenBracket: Align
